.container {
	display: flex; 
	justify-content: center; 
}

.row {
	display: flex; 
	justify-content: center; 
}

#link_row {
	width: 80%; 
	background-color: lightgrey;  
}

.link_btn {
	/* Spacing */
	margin: 2% 10% 2% 10%; 

	/* Aesthetic */
	border: 0px; 
}