// Variables
$sea_foam: #d5f4e6;
$teal: #80ced6; 
$yellow: #fefbd8; 
$dark_teal: #618685; 
$highlight: #c94c4c; 

@import 'mobile'; 
@import 'about';
@import 'resume'; 
@import 'projects';
@import 'social_nav'; 

.flex-display-row {
	align-items: center; 
	justify-content: center; 
	flex-direction: row; 
}

* {
	outline: none; 
}

.container {
	display: flex; 
	justify-content: center; 
	flex-direction: column; 
	align-items: center; 
}

#bitmoji {
	position: absolute; 
	left: -90px; 
	border-radius: 25px; 
	visibility: hidden; 

	transform: rotate(18deg) scale(.4); 
}

.summary_paragraph {
	line-height: 30px; 
	font-size: 15px; 
}

.highlight {
	color: $highlight; 
	font-weight: bold; 
}

.row {
	display: flex; 
	justify-content: center; 
	flex-direction: row; 
}

#link_row {
	box-sizing: border-box;
	margin-top: 0%; 
	width: 80vw; 
	background-color: lightgrey; 
	border-radius: 25px;  

	/* transition */
	transition: all 1s ease-in-out;
}

.link_btn {
	/* Spacing */
	box-sizing: border-box; 
	margin: 2vh 5vw 2vh 5vw; 
	font-size: 20px; 
	overflow: hidden; 

	/* Aesthetic */
	border: 0px; 
	background-color: lightgrey; 
	font-family: 'Raleway', sans-serif;
	font-style: bold;  
}

.link_btn:hover {
	cursor: pointer; 
	transform: scale(1.1); 
	transition: all .2s; 
	color: $dark_teal; 

	border-radius: 25px; 
}