.container {
	display: flex; 
	justify-content: center; 
}

.row {
	display: flex; 
	justify-content: center; 
}

#link_row {
	margin-top: 2%; 
	width: 80vw; 
	background-color: lightgrey;  
}

.link_btn {
	/* Spacing */
	margin: 2vh 5vw 2vh 5vw; 

	/* Aesthetic */
	border: 0px; 
	background-color: lightgrey; 
}

.link_btn:hover {
	cursor: pointer; 
	transform: scale(1.1); 
	transition: all .2s; 
}